body{
	background-image: url('../images/apps.jpg');
	background-size: cover;
	
}

.contacts{

	border: cover;
	background-color: rgba(191, 191, 191, 0.5);
    color: rgb(255, 0, 255);
	border:2px solid  green;
	padding: 100px 100px 100px 100px;
}
i{
	font-size: 2em;
	padding-top: 10px;
}
.div-header{ 
background-color: transparent;
 	max-width: 1200px;
    margin: 0 auto;
 	
 }

 /*img
 {
 	float: left
 	
 }*/

 .nav-header{

 	float: right;
 	padding-top: 30px;

 }

  .nav-header p{
     
      
       display: inline;
 }

 a{
    color: red;
 	text-decoration: none;
 	padding-left: 30px;
 	font-size: 2em;

 }
 a:hover{

 	color: green;
 }

.whatsapp{
     color: white;
     border: 1px solid black
     padding-bottom: 20px;
     font-size: 2em;
}

.fb {
 color: blue;
 border: 1px solid black
  padding-bottom: 20px;
     font-size: 2em;
}

.mail{
	 color: red;
	 border: 1px solid black
	  padding-bottom: 20px;
     font-size: 2em;
}
