body{
	background-image:  url('../images/ground1.jpg');
	background-size: cover;

}
/*
#myvideo
{
	position: fixed;right: 0;
	z-index: -5;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}*/

.div-header{ 
background-color: transparent;
 	max-width: 1200px;
    margin: 0 auto;
 	
 }

 img
 {
 	float: left
 	
 }

 .nav-header{

 	float: right;
 	padding-top: 30px;

 }

  .nav-header p{
     
      
       display: inline;font-size: 2em;
 }

 a{
    color: red;
 	text-decoration: none;
 	padding-left: 30px;
 	

 }
 a:hover{

 	color: green;
 }

.interests{
	border: cover;
	background-color: rgba(191, 191, 191, 0.5);
    color: white; /*rgb(255, 0, 255);*/
	border:2px solid  green;
	padding: 100px 100px 100px 100px;
	font-family: helvetica;
	font-size: 2em;
}

ul{

	list-style-type: square;
}
